.app-root {
  min-height: 100vh;
  position: relative;
  border: none;
}

.bg{
  width: 100%;
  z-index: 0;
  position: absolute;
  pointer-events: none;
  bottom: 0;
}

.oops {
  transform: scale(0.5);
  transform-origin: top center;
  width: 200%;
  height: 200%;
  margin: 0 auto;
}


